.appbar {
    background-color: $appbar-background-color;
	@include text-inverse();
	@include link-inverse();
    @extend .shadow-z-1;

    height: $appbar-height;
    width: 100%;
}

.appbar-menu-search-wrapper,
.appbar-menu-sink-menu-toggle,
.appbar-menu-title-wrapper,
.appbar-menu-back-wrapper {
    outline: none;
    height: $appbar-height;
}


.appbar-menu-search-button, 
.appbar-menu-sink-button,
.appbar-menu-back-button {
    background: none;
    border: none;
    @include text-inverse();
    //line-height: $appbar-height;
    float: left;
}

/**
 * Title
 *
 */
 .appbar-menu-title-wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: 800;

    .thin {
        font-weight: 300;
    }
}

.appbar-menu-title {
    line-height: 40px;
    padding: 0;
    font-size: 1.25rem;

    a,
    a:visited,
    a:active,
    a:hover {
        color: $color-white;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5rem 3.5rem 0 3.5rem;
        padding: 0;

        img {
            height: 2rem;
            margin-right: 0.5rem;
        }
    }

    .appbar-menu-sub-title {
        position: absolute;
        text-align: center;
        text-decoration: none;
        font-size: 0.875rem;
        bottom: 0;
        line-height: 12px;
        font-weight: 400;
        width: 100%;
        margin: 0 1rem 0.5rem 1rem;
    }
}

/**
 * Hamburger icon
 *
 */
.appbar-menu-sink-wrapper {
    position: absolute;
    height: calc(#{$appbar-height} - 0.5rem);
    left: 0.25rem;
    top: 0.5rem;

    @include translate(-50px, 0);
    @include opacity(0);
    @include single-transition(all, 350ms);
}

.showing-mainmenu {
    .appbar-menu-sink-wrapper {
        cursor: pointer;
        @include opacity(1);
        @include translate(0, 0);

        @include medium {
            display: none;
        }
    }
}

/**
 * Back icon
 *
 */
.appbar-menu-back-wrapper {
    position: absolute;
    cursor: pointer;
    height: calc(#{$appbar-height} - 0.5rem);
    left: 0.25rem;
    top: 0.5rem;

    @include translate(0, 0);
    @include opacity(1);
    @include single-transition(all, 350ms);

    display: none;
    &.on {
        display: block;
    }
}

.showing-mainmenu {
    .appbar-menu-back-wrapper {
        cursor: default;
        @include opacity(0);
        @include translate(50px, 0);
    }
}

.appbar-menu-back-label {
    line-height: $appbar-height;
    font-size: 20px;
    float: left;
    font-weight: 300;
}
