.details-inner {
	width: calc(100% - 2rem);
	max-width: 700px;
	margin: 0 auto;
	padding: 1rem;

	.vgr-logo {
		margin-top: 3rem;
		text-align: center;

		img {
			max-width: 300px;
		}
	}

	@include medium {
		padding: 0;

		.vgr-logo {
			display: none;
			text-align: left;
		}
	}

	.link-list {
		display: none;
		margin-top: 1rem;

		@include medium {
			display: block;
		}

		h2 {
			margin: 0.3125rem;
			@include rhythm(1, 0, 0, 0);
			font-size: 1.25rem;
			font-weight: 300;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		li {
			list-style-type: none;
			padding: 0;
			@include border-bottom-line();
		}

		a,
		a:visited {
			color: rgba(0, 0, 0, 0.57);
		}

		a {
			color: rgba(0, 0, 0, 0.57);
			padding: 0.5rem 1rem;
			display: block;
			text-decoration: none;
		}

		.no-touch & a:hover {
			background-color: $color-yellow-halfandhalf;
		}

	}

	.link-list + .link-list {
		margin-top: 0;
	}


}
