.details-inner {
	width: calc(100% - 2rem);
	max-width: 600px;
	margin: 0 auto;
	padding: 1rem;

	.vgr-logo {
		margin-top: 3rem;
		text-align: center;

		img {
			max-width: 300px;
		}
	}

	@include medium {
		padding: 0;

		.vgr-logo {
			text-align: left;
		}
	}
}


.link-list {


	h2 {
		margin: 5px;
		@include rhythm(1, 0, 0, 0);
		font-size: 20px;
		font-weight: 300;
	}

	ul {
		list-style-type: none;
		margin: 0 5px;
		margin: 0;
		padding: 0;
	}

	li {
		list-style-type: none;
		padding: 0;
		@include border-bottom-line();

		&:first-child {
			margin-top: 5px;
			margin-top: 1rem;
		}

		&:last-child {
			margin-bottom: 5px;
			margin-bottom: 1rem;
		}
	}

	a, 
	a:visited {
    	color: rgba(0, 0, 0, 0.57);
	}

	a {
		color: rgba(0, 0, 0, 0.57);
		padding: 7px 14px;	
		display: block;	
		text-decoration: none;

//		transition: background-color 150ms;		
	}

	.no-touch & a:hover {
		background-color: $color-yellow-halfandhalf;
	}	

}
