.vgr-logo {
	text-align: center;
	margin-top: 56px;
	text-align: left;

	img {
		max-width: 300px;
	}
}

//.logo-section {
//	align-items: center;
//	display: flex;
//	margin-top: 3.5rem;
//
//	.logo-rek {
//		background: $color-vgr-blue;
//		padding: 1rem;
//
//		img {
//			height: 3rem;
//		}
//	}
//
//	.logo-vgr {
//		padding: 1rem;
//
//		img {
//			height: 3rem;
//		}
//	}
//}

.details-inner {
	width: calc(100% - 2rem);
	max-width: 404px;
	margin: 0 auto;
	padding: 1rem;

	.vgr-logo {
		display: none;
	}

	@include medium {
		padding: 0;

		.vgr-logo {
			display: block;
		}
	}
}


.link-list {


	h2 {
		margin: 5px;
		@include rhythm(1, 0, 0, 0);
		font-size: 20px;
		font-weight: 300;
	}

	ul {
		list-style-type: none;
		


		margin: 5px;
		padding: 0;
	}

	li {
		list-style-type: none;
		padding: 0;
		@include border-bottom-line();
	}

	a, 
	a:visited {
    	color: rgba(0, 0, 0, 0.57);
	}

	a {
		color: rgba(0, 0, 0, 0.57);
		padding: 7px 14px;	
		display: block;	
		text-decoration: none;

//		transition: background-color 150ms;		
	}

	.no-touch & a:hover {
		background-color: $color-yellow-halfandhalf;
	}	

}
