.view-topper {
    @extend .shadow-z-2-no-top;
}

.second-bar {
    background-color: $tabs-background-color;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@include medium {
    .view-topper-details-advice .second-bar, 
    .view-topper-details-drugs .second-bar {
        //min-height: 96px;
    }
}

.second-bar-title {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
    padding: 0.9rem;

    font-weight: 300;
}
